/* Start Global Rules */
:root {
    --main-color: rgb(33, 150, 243);
    --secondary-color: rgb(232, 232, 232);
    --footer-color: rgb(25, 25, 25);
    --main-transition: 0.3s;
    --main-margin: 60px ;
    --main-ec-color: #ececec ;
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Cairo', sans-serif;

}
html {
    scroll-behavior: smooth;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;

}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 90vw;
  }
a {
    text-decoration: none;
    color: unset;
}
a:active {
    color: unset;
}
a:visited {
    color: unset;
}
a:hover {
    color: unset;
}
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  
  .section-head {
    margin: var(--main-margin) 0;
}

.section-head h2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 10px;
    font-weight: 800;
    font-size: 35px;
    border: 2px solid black;
    width: fit-content;
    transition: calc(var(--main-transition) + 0.3s);
    position: relative;

}
.section-head h2:hover {
    color: white;
    border-color: transparent;
    z-index: 99;
}
.section-head h2::before, .section-head h2::after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--main-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: var(--main-transition);
}
.section-head h2::before {
    right: -20px;
}
.section-head h2::after {
    left: -20px;
}
.section-head h2:hover::before, .section-head h2:hover::after {
width: 100%;
height: 100%;
z-index: -1;
border-radius: 0;
}
.section-head h2:hover::before {
    right: 0;
}
.section-head h2:hover::after {
    left: 0;
}
/* End Global Rules */

/* Start Header  */
header {
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;  
}
header > .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
header .container .logo {
    font-weight: 800;
    color: var(--main-color);
    width: fit-content;
    margin: 0;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}
@media (max-width: 767px) {
    header .container .logo {
        width: 100%;
    }
    header .container nav {
        margin: 0 auto;
    }
    header .container nav .mega-menu {
                top: 240px;
    }
    
}

header .container nav > ul > li {
    display: inline-block;
    color: black;
    text-transform: capitalize;
    font-size: 20px;
    height: 100%;
    transition: var(--main-transition);
}
header .container nav > ul > li:hover {
    background-color: var(--secondary-color);
    color: var(--main-color);
}
header .container nav > ul > li > a::before {
    content: "";
    height: 2px;
    background-color: var(--main-color);
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    transition: var(--main-transition);
}
header .container nav > ul > li > a:hover::before {
left: 0;
}
header .container nav > ul > li > a {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 0 20px;
}
@media (max-width: 547px) {
    header .container nav > ul > li > a {
        padding: 0 3px;
        font-size: 13px;
    }
    
}
header .container nav .mega-menu {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-bottom: 2px solid var(--main-color);
    display: flex;
    position: absolute;
    top: 120px;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: var(--main-transition);
}
header .container nav>ul>li:last-child:hover  .mega-menu{
    top: 74px;
    opacity: 1;
    z-index: 999;

}
@media (max-width: 767px) {
    header .container nav .mega-menu {
                top: 240px;
    }
    header .container nav>ul>li:last-child:hover  .mega-menu{
        top: 148px;
    
    }
    
}

header .container nav .mega-menu li{
    color: var(--main-color);
    text-transform: capitalize;
    font-size: 20px;
    padding: 20px 10px;
    border-bottom: 1px solid var(--secondary-color);
    font-weight: bold;
    position: relative;
    overflow: hidden;
    min-width: 250px;
    border-bottom: 1px solid #ccc;

}

@media (max-width: 590px) {

    header .container nav .mega-menu ul{
        margin: 0 auto;
        flex-grow: 1;
}
header .container nav .mega-menu ul:first-of-type li:last-child {
    border-bottom: 1px solid #ccc;
}
}
header .container nav .mega-menu li:last-child {
    border-bottom: none;
}
header .container nav .mega-menu li::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background-color: #ddd;
    transition: var(--main-transition);
    z-index: -1;
}
header .container nav .mega-menu li:hover::before {
    left: 0;
}
header .container nav .mega-menu .mega-menu-img{
    width: 500px;
    max-width: 80vw;
}
@media (max-width: 991px) {
    header .container nav .mega-menu .mega-menu-img{
        display: none;
    }
}
@media (max-width: 1200px) {
    header .container nav .mega-menu .mega-menu-img{
        order: 2;
        margin: 20px auto;
    }
}
header .container nav .mega-menu .mega-menu-img img{
    width: 100%;
}
header .container nav .mega-menu li i {
    margin-right: 10px;

}
/* End Header  */

/*Start landing*/
.landing {
position: relative;
height: calc(100vh - 73.2px);
overflow: hidden;
position: relative;
}
.landing::before {
content: "";
width: 100%;
height: 100%;
background-color: #ccc;
z-index: -1;
position: absolute;
top: -50px;
left: 0;
transform: skewY(-4deg);
}
.landing .container {
display: flex;
align-items: center;
justify-content: space-between;
flex-direction: row;
flex-wrap: wrap;
height: 100%;
padding-bottom: 70px;
}
.landing .container .text {
    width: 450px;
    max-width: 100vw;
}
.landing .container .text h1 {
    letter-spacing: -2px;
    font-size: 40px;
}
.landing .container .text p {
    line-height: 1.5;
    color: #555;
}
.landing .container .img {
width: 450px;
max-width: 100vw;
}
.landing .container .img img {
    width: 100%;
    position: relative;
    animation: up-and-down 2s linear infinite;
}
.landing .scroll-down {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
}
.landing .scroll-down i {
    font-size: 25px;
    color: var(--main-color);
    position: relative;
    animation: arrow 2s ease infinite;
}

@media (max-width: 1034px) {
    .landing .container .text {
        order: 1;
        margin: 0 auto;
    }
    .landing .container .img {
        margin: 0 auto;
    }
}
@media (max-width: 450px) {
    .landing .container .text h1 {
        font-size: 25px;
        text-align: center;
    }

}
/*End landing*/
/* Start articles */
.articles .container {

}
.articles .article-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 50px;
    margin-bottom: var(--main-margin);

}
@media (max-width: 1200px) {
    .articles .article-container {
        justify-content: space-around;
    }
    
}
.articles .article-container .article-element {
    width: 250px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 5px #ccc;
    position: relative;
    transition: top var(--main-transition), box-shadow var(--main-transition);
    top: 0;
    padding-bottom: 5px;


}
.articles .article-container .article-element:hover {
    top: -10px;
    box-shadow: 0 0 20px #ccc;

}
.articles .article-container .article-element .article-img {
    
}
.articles .article-container .article-element .article-img img {
width: 100%;
}
.articles .article-container .article-element .article-body {
    padding: 5px 10px;
}
.articles .article-container .article-element .article-body h2 {
    margin: 10px 0;
    font-size: 20px;
}
.articles .article-container .article-element .article-body p {
    line-height: 1.5;
    color: #666;
}
.articles .article-container .article-element .article-foot {
    padding: 5px 10px;
    border-top: 1px solid #e6e6e7;
}
.articles .article-container .article-element .article-foot a{
    color: var(--main-color);
    width: fit-content;
    margin: 0;
    display: inline-block;
}
.articles .article-container .article-element .article-foot i{
    color: var(--main-color);
    display: inline-block;
    position: relative;
    left: 50%;
}
.articles .article-container .article-element:hover .article-foot i{
    animation: right-move 0.5s linear infinite;
}
/* End articles */

/* Start gallery */
.gallery {
    background-color: var(--main-ec-color);
    padding-top: var(--main-margin);
    padding-bottom: var(--main-margin);
    z-index: -10;
}
.gallery .gallery-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 50px;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 768px) {
    .gallery .gallery-container {
        justify-content: space-around;

    }
}
.gallery .gallery-container .gallery-img {
    width: 300px;
    max-width: 90vw;
    border: 8px solid white;
    box-shadow: 0 0 15px rgb(0 0 0 / 40%);
    overflow: hidden;
    position: relative;
}
.gallery .gallery-container .gallery-img img {
    width: 100%;
    max-width: 100%;
    transition: var(--main-transition);
}
.gallery .gallery-container .gallery-img:hover img {
    transform: rotate(5deg) scale(1.2);

}
.gallery .gallery-container .gallery-img::before {
    content: "";
    width: 0;
    height: 0;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.gallery .gallery-container .gallery-img:hover::before {
    animation: hover-up 0.5s ease;

}
/* End gallery */


/* Start animation  */
@keyframes up-and-down {
    0%, 100% {
        top: 0;
    }
    50% {
        top: -20px;
    }
}

@keyframes arrow {
    0%, 50%, 100% {
        top: 0;
    }
    25%, 75% {
        top: -10px;
    }
    
    
}
@keyframes right-move {
    0% {
        left: 50%;
    }
    100% {
        left: calc(50% + 7px);
    }
}
@keyframes hover-up {
    0, 50% {
        width: 100%;
        height: 100%;
    }
    100% {
        width: 200%;
        height: 200%;    
    }
    
}
/* End animation  */

